<!-- <h2>{{showSignup ? 'Sign Up Matt' : Login}}</h2> -->
<h2>{{showSignup ? 'Sign Up Matt' : 'Login'}}</h2>






<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <div class="col-md-6"></div>

    
  </div>
  <br />
  <div class="row">
    <div class="col-md-2">
        Submit
     
      
    </div>
    <div class="col-md-2">
      

      <!-- {{matt's first label}}
<input [(ngModel)]="matts first label bro" type="text">
<button> (click)> click bro</button> -->



      <button type="button" class="btn btn-secondary" (click)="login()">
        Signup
     
     
     
        <!-- <button *ngIf="!showSignup" type="submit" class="btn btn-primary" (click)="login()">
        Submit Man
       
        <button *ngIf="!showSignup" type="submit" class="btn btn-primary" (click)="signup()">
        Submit Matt -->



<!--         
      <button type="button" class="btn btn-primary" (click)="login()">
        Submit -->


    
     
     
        <button type="button" class="btn btn-secondary float-right" (click)="toggleSignup()">
          {{ showSignup ? 'Cancel' : 'Signup' }}

        </button>



        
        <router-outlet></router-outlet>
      </button>
    </div>
  </div>
</form>